@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --light: rgba(0, 0, 0, 0.658);
    --Dark: #141414;

    --b-light: rgb(255, 255, 169);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    
}

.empty-message {
    font-family: 'Nerko One', cursive;
    color: var(--light);
}

.logo {
    font-family: 'Major Mono Display', monospace;
    font-size: 30px;
}


header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    position: relative;
}

form input[type="text"] {
    width: 50%;
    padding: .8rem 1rem;
    border: 1px solid #1414142a;
    border-radius: 40rem;
    background-color: #FFF;
    outline: none;
}


form input[type="color"] {
    position: absolute;
    bottom: 5%;
    right: 2%;
    border: none;
    cursor: pointer;
    outline: none;
    opacity: .2;
}

form input[type="color"]:hover {
    opacity: .9;
    transition: all .4s ease-in-out;
}

.view {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.u-list {
    width: 50%;
    padding-top: 5rem;
    list-style: none;
}

.u-list .list {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    height: 5vh;
    background-color: #f7f7f7;
    border-radius: 40rem;
    cursor: pointer;
}

.u-list .list .todo-value {
    font-size: 15px;
}

.clear {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#delete-btn {
    background-color: #fff;
    padding: .6rem 1rem; 
    border-radius: 40rem;
    border: 2px solid #1414142a;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}
#delete-btn:hover {
    opacity: .5;
}

.completed {
    text-decoration: line-through;
    transition: all .5s ease-in-out;
}

.deleted {
    
    margin-left: 100%;
    transition: .5s all ease-in-out;
    opacity: 0;
}